<div class="atm">
    <div class="screen"></div>
    <div class="keyboard">
      <div data-key="8" class="key" >8</div>
      <div data-key="7" class="key" >7</div>
      <div data-key="9" class="key" >9</div>
      <div data-key="4" class="key" >4</div>
      <div data-key="5" class="key" >5</div>
      <div data-key="6" class="key" >6</div>
      <div data-key="1" class="key" >1</div>
      <div data-key="2" class="key" >2</div>
      <div data-key="3" class="key" >3</div>
      <div data-key="0" class="key" >0</div>
      <div data-key="." class="key" >.</div>
      <div data-type="single" class="clear">Clear</div>
      <div  class="enter">Enter</div>
      <div data-type="all" class="clear">Reset</div>
    </div>
  </div>